# How python flows?

* High level Python Code -> Interpreter -> Machine Language *

In [1]:
myFirstVariable = 1 
mySecondVariable = "Test" 
type(myFirstVariable), type(mySecondVariable)

(int, str)

In [2]:
myFirstVariable = mySecondVariable = 3
myFirstVariable, mySecondVariable

(3, 3)

In [26]:
myFirstVariable, mySecondVariable = 3, 4.2
myFirstVariable, mySecondVariable

(3, 4.2)

In [24]:
myFirstString = 'test'
myFirstString = "test"
myFirstString = '''test'''   #multistring

In [27]:
fStringOne = f'variable is {myFirstVariable} and string is {myFirstString}'
fStringOne

'variable is 3 and string is test'

In [7]:
a = 1
b = a
a, b

(1, 1)

In [8]:
a = 2
a, b

(2, 1)

In [9]:
del a

In [12]:
test = True
print(test)
def some_function():
    global test
    test = False  #variable with local scope
    
some_function()
print(test)   #can't be accessed

True
False

In [13]:
type(test)

bool

In [14]:
1//3, 1*10, 2**2, 2-2, 2+2, 10/5      #division will always be float

(0, 10, 4, 0, 4, 2.0)

String Operations

In [15]:
7%2   #remainder

1

In [16]:
"A" + "B"    #concatenation

'AB'

In [17]:
"a"*3

'aaa'

In [18]:
fStringOne[-2:]

'st'

In [28]:
x = fStringOne[-2:]
x

'st'

In [29]:
fStringOne.find("r")

2

In [30]:
len(fStringOne)

32

In [22]:
int("5")

5

In [23]:
#Sets
#stores variable only once even though repeated
firstset = {2, 5, 1, 6, 22, -3, 5}
firstset

{-3, 1, 2, 5, 6, 22}

**HW:Explore firstset. operations and print results**

**Ternary Operator **

[If True] if [Expression] Else [if False]

### Expressions:
* Equality == 
* Not Equal != 
* Comparison <, >, <=, >=

### Functions:

In [ ]:
def my_new_func(x, flag = True):
    '''This is a doc string
    '''
    if flag:
        print(f'test print {x}')
        
    else:
        print("Flag is set to false")

In [34]:
len("hello")

5

In [35]:
def my_new_func_2(a, b):
    if b == 0:
        return "Invalid input for b"
    else:
        return a/b
    
my_new_func_2(1, 1)

1.0

In [ ]:
def my_new_func_3(a, b):
    try:
        c = a/b
    except Exception as e:
        print(e)
        print("Value of b cannot be zero")

In [36]:
def my_new_func_4(*args, **kargs):         #means we can pass n no of arguments
    print(args)
    print(kargs)
    print(args[0])
    print(kargs.get("a"))

In [37]:
alpha = "alpha"
beta = 'beta'
my_new_func_4(alpha, beta, a = 1, b = 2)

('alpha', 'beta')
{'a': 1, 'b': 2}
alpha
1

In [39]:
def my_new_func_5(a, b):
    return a, b

x, y = my_new_func_5(2, 3)
x, y

(2, 3)

## Lambda Expressions:
### format: variable = lambda argumments: expression
* Single expression anonymous function 
* Inline function

In [40]:
my_lambda = lambda x, y, z : (x - 100 + y - z)*2**3
my_lambda(100, 2, 3)

-8

## Loops and conditionals

In [ ]:
input1 = 10
while input1 >

In [41]:
for i in range(-3, 10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [42]:
for i in "dghvhsg":
    print(i)

d
g
h
v
h
s
g

In [43]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [44]:
factorial(6)

720

## HW: Write a recursive fn for fibonacci series

## Collections
* lists, tuples, dictionaries

In [45]:
my_list = ["A", "B", 1, 2.5]
my_tuple = ("f", "m", 1)
my_dictionary = {"a": 1, "b": 2}
my_dictionary["a"]

1

In [ ]:
my_list_2 = [] #empty list
my_list_2.append(2)
my_list_2.extend(["A", "B", 1, 2.5])
my_list_3 = list